<div class="ba br2 mv3">
    <h1 class="f5 f4-ns mv0 pt3 pb1 ph3 bg-black-10" onclick="expand('{id}_content')">{title}</h1>
    <div class="flex justify-center flex-column flex-row-l bg-black-10 pb3 pt1 mv0" onclick="expand('{id}_content')">
        <pre class="f5 pv0 ph3 mv0 f4-ns w-100 w-50-l tc tr-l">{subtitle_1}</pre>
        <pre class="f5 pv0 ph3 mv0 f4-ns w-100 w-50-l tc tl-l">{subtitle_2}</pre>
    </div>
    <div id="{id}_content" class="{id}_content pa0 ph3 h-0 bg-white-10">
        <p class="{id}_content f6 f5-ns lh-copy h-0 mv0 pv3"> {content} </p>
    </div>
</div>
