<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dhruva Sambrani's Website. Visit to know more about Dhruva">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css">
    <link rel="stylesheet" href="./css/tachyon.min.css">
    <link rel="stylesheet" href="./css/my.css">
    <title>{title}</title>
</head>

<body id="body">
    <div id="home" name="home"
        class="bg-near-black min-vh-100 page pv3 pb6 landing tc flex flex-column items-center justify-center">
        <div class="landing-name code-green f3 f1-ns pt3">$</div>
        <img class="items-stretch pv4 w5 h5" src="./images/dp.webp" alt="display picture" />
        <div class="flex flex-column flex-row-ns flex-wrap justify-center white pa3">
            <div class="f5 f3-ns w-auto w-100 ns-w-auto ph3">
                <a href="#edu">Qualifications</a>
            </div>
            <div class="f5 f3-ns w-auto w-100 ns-w-auto ph3">
                <a href="#code">Programming</a>
            </div>
            <div class="f5 f3-ns w-auto w-100 ns-w-auto ph3">
                <a href="#research">Research</a>
            </div>
            <div class="f5 f3-ns w-auto w-100 ns-w-auto ph3">
                <a href="#acad">Achievements</a>
            </div>
            <div class="f5 f3-ns w-auto w-100 ns-w-auto ph3">
                <a href="#excc">Extra-Curriculars</a>
            </div>
            <div class="f5 f3-ns w-auto w-100 ns-w-auto ph3">
                <a href="/photography/index" target="_blank">Photography</a>
            </div>
            <div class="f5 f3-ns w-auto w-100 ns-w-auto ph3">
                <a href="/blog" target="_blank">Blog</a>
            </div>
            <div class="f5 f3-ns w-auto w-100 ns-w-auto ph3">
                <a href="/cv.pdf">Download CV</a>
            </div>
            <div class="f5 f3-ns w-auto w-100 ns-w-auto ph3">
                <a href="/notes">My Notes</a>
            </div>
        </div>
    </div> {maincontent} <footer class="pv2 ph2 ph5-ns tc w-100 fixed bottom-0 bg-black z-2 flex flex-column">
        <span id="ket" class="white pb2"></span>
        <div> {footerdata} </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/anime.min.js"></script>
    <script src="./js/animations.js"></script>
</body>

</html>
