<div id="{pageid}" name="{pageid}" class="{colorscheme} min-vh-100 page pb6">
    <div class="h-3 w-100 bb b--light-silver sticky top-0 {colorscheme} z-1">
        <a href="#home"><img class="absolute left-0 pa2 ph4-ns pv3-ns home {invert}" src="./images/home.svg"
                alt="home"></a>
        <h3 class="f3 f2-m f2-l tc lh-title mt0 mb0 fw1 ph1 pv3 bg-black-20 b">{pagename}</h3>
    </div>
    <div class="pa3 col2">
        <div class="dt-ns dt--fixed-ns">
            <div class="dtc-ns tc ph3 h-100-l"> {col1} </div>
            <div class="dtc-ns tc ph3 h-100-l"> {col2} </div>
        </div>
    </div>
</div>
